.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 100%;
    width: 1150px;
    margin-right: auto;
    margin-left: auto;
}
#Card{
    max-width: 100%;
    width: 1150px;
}
.home{
    background-color: #000000;
}