.white-block{
    background: #fff;
    margin-top: 50px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 25%;
    box-shadow: 0px 1px 2px rgb(0 0 0 );
    height: 400px;
}

.white-block .my-sidebar{
    text-align: center !important;
}

.white-block .my-sidebar .my-avatar{
    padding: 30px 0px;
}

.white-block .my-sidebar .my-menu li{
    text-align: left;
}
.white-block .my-sidebar .my-menu .fa-calendar{
    padding-right: 5px;
}

.white-block .my-sidebar .my-menu .fa-heart{
    padding-right: 5px;
}
.white-block .my-sidebar .my-menu .fa-book{
    padding-right: 5px;
}

.white-block .my-sidebar .my-menu li .right-value{
    float: right;
}