.recipe-blog {
    background-color: #eee;
    color: #676767;
    padding-bottom: 0px;
    width: 100%;
    font-family: "Ubuntu", sans-serif;
    padding-top: 20px;
}

.recipe-blog .container{
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    width: 1800px;
}

.recipe-blog .container .recipe-infor {
    width: 100%;
}

.recipe-blog .container .recipe-infor .recipe-item{
    width: 70%;
    background-color: #fff;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}

.recipe-blog .container .recipe-infor .recipe-item .img-container {
    overflow: hidden;
}

.recipe-blog .container .recipe-infor .recipe-item .img-container img {
    width: 100%;
    transition: 0.5s linear;
    height: auto;
}

.recipe-blog .container .recipe-infor .recipe-item .img-container img:hover {
    transform: scale(1.3);
}

.recipe-blog .container .recipe-infor .recipe-content {
    padding: 25px;
    padding-bottom: 0;
}

.recipe-blog .container .recipe-infor .recipe-content-title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
}

.recipe-blog .container .recipe-infor .recipe-content-inner {
    margin-bottom: 10px;
}

.recipe-blog .container .recipe-infor .recipe-content-inner .fa-eyedropper{
    margin-right: 15px;
    color: #d94a11;
}

.recipe-blog .container .recipe-infor .recipe-content-inner p {
    line-height: 24px;
}

.recipe-blog .container .recipe-infor .recipe-content-inner hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.recipe-blog .container .recipe-infor .recipe-content-ingredients{
    margin-bottom: 15px;
}


.recipe-blog .container .recipe-infor .recipe-content-ingredients .fa-eyedropper {
    color: #6ba72b;
    margin-right: 20px;
}

.recipe-blog .container .recipe-infor .recipe-content-ingredients ul li{
    list-style: none;
}

.recipe-blog .container .recipe-infor .recipe-content-steps .fa-sort-numeric-asc{
    color: #bfb82a;
    margin-right: 20px;
}

.recipe-blog .container .recipe-infor .recipe-content-steps ul li{
    list-style: none;
}


.recipe-blog .container .author-item {
    width: 50%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 550;
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 25px
}

.recipe-blog .container .author-item .author-item-infor{
    padding: 25px;
    background: #fff;
}

.recipe-blog .container .author-item .author-item-infor ul {
    padding: 0;
    margin: 0;
}

.recipe-blog .container .author-item .author-item-infor ul .author-avatar {
    display: inline-block;
    margin-bottom: 20px;
    border: none;
}

.recipe-blog .container .author-item .author-item-infor ul .author-avatar img {
    width: 100x;
    height: 100px;
    margin-right: 20px;
}

.recipe-blog .container .author-item .author-item-infor ul .author-avatar a {
    margin-left: 20px;
    color: #6ba72b;
    text-decoration: none;
}

.recipe-blog .container .author-item .author-item-infor ul li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px 0px;
    border-bottom: 1px solid #eee;
}

.recipe-blog .container .author-item .author-item-like {
    margin-top: 50px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 50px;
    text-align: center;
}

.recipe-blog .container .author-item .author-item-like .fa-heart {
    margin: 0;
    padding: 0;
    font-size: 30px;
    height: 40px;
    cursor: pointer;
    width: 50%;
}

/* 
.recipe-blog .container .author-item .author-item-like ul li {
    list-style: none;
    padding: 5px 0;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
} */
/* 
.recipe-blog .container .author-item .author-item-like ul li .fa-thumbs-up {
    color: #676767;
    transition: 0.1s linear;
} */


/* .recipe-blog .container .author-item .author-item-like ul li .fa-thumbs-up:hover {
    color: #6ba72b;
} */

.recipe-blog .container .author-item .author-item-like .fa-heart:hover {
    color: #cf1d1d;
    transition: 0.1s linear;
}

.recipe-blog .container .author-item .comment {
    margin-top: 50px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 50px;
}
.recipe-blog .container .author-item .comment .mar-top{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #676767;
    font-size: 25px;
}

.recipe-blog .container .author-item .comment .mar-top .action1{
   width: 80%;
}

.recipe-blog .container .author-item .comment .mar-top .take-photo{
    margin-right: 15px;
   color: #676767;
}

.recipe-blog .container .author-item .comment .mar-top .take-photo:hover{
   color: #161615;
}

.recipe-blog .container .author-item .comment .mar-top .photo{
    margin-right: 15px;
    color: #676767;
}


.recipe-blog .container .author-item .comment .mar-top .photo:hover{
    color: #161615;
}
 
.recipe-blog .container .author-item .comment .mar-top .file{
    color: #676767;
}

.recipe-blog .container .author-item .comment .mar-top .file:hover{
    color: #161615;
}

.recipe-blog .container .author-item .available-comment{
    margin-top: 50px;
    padding: 25px;
    background-color: #fff;
    margin-bottom: 50px;
}

.recipe-blog .container .author-item .available-comment .media-left {
   padding-right: 15px;
}
.recipe-blog .container .author-item .available-comment .media-left img{
    width: 100px;
    height: 100px;
}

.recipe-blog .container .author-item .available-comment .media-right {
    color: #676767;
}

.recipe-blog .container .author-item .available-comment .media-right .mar-btm a {
    text-decoration: none;
    font-size: 20px;
    color: #676767;
}

.recipe-blog .container .author-item .available-comment .media-right .mar-btm a:hover {
    color: #cf1d1d;
}

@media only screen and (max-width: 600px) {
    .recipe-blog .container .recipe-infor {
        display: flex;
        flex-direction: column;
    }

    .recipe-blog .container .recipe-infor .recipe-item{
        width: 100%;
    }

    .recipe-blog .container .recipe-infor .author-item{
        width: 100%;
    }
}

