.authorsPage {
  background-color: #eee;
  height: 1000px;
}

.authorsPage .author-section {
  background-color: #eee;
  font-family: "Ubuntu", Arial, sans-serif;
}
#one_third {
  width: 33%;
}

@media only screen and (max-width: 600px) {
  #one_third {
    width: 100%;
  }
}
