.container{
    /* position: absolute; */
    background-size: cover;
    display: block !important;
    margin: 0;
    padding-bottom: 10px
    height = calc(100vh - 75px);
    width: 100%;
    background: #eee;
}

.container img{
    width: 100% !important;
    height: 550px;
}
@media only screen and (max-width: 600px) {
	.container img {
        width: 100%;
        height: 300px;
    }
}
  